<!DOCTYPE html>
<html>
  <head>
    <title>Pega Process Fabric Hub FAQs</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
      h2 {
        color: black;
      }
      input[type="text"] {
        width: 300px;
      }
    </style>
  </head>
  <body>
    <!-- <img id="logo" src="/static/images/logo.png" alt="A description of the image"> -->
    <h2><strong>People@Pega Frequently Asked Questions</strong></h2>
    <form action="/search" method="GET">
      <input type="text" id="query" name="query">
      <input type="submit" value="search">
    </form> 
  </body>
</html>
